<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="/webjars/jquery/3.6.3/dist/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css"/>
    <title>University Schedule Web App - Admin Page</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<script>
    $(document).ready(function () {
        $('a[data-bs-toggle="tab"]').on('show.bs.tab', function (e) {
            localStorage.setItem('activeTab', $(e.target).attr('href'));
        });
        var activeTab = localStorage.getItem('activeTab');
        if (activeTab) {
            $('#myTab a[href="' + activeTab + '"]').tab('show');
        }
    });

</script>



<div class="container mt-3">
    <h3 class="text-center">Schedules</h3>
    <button type="button" class="btn btn-dark" data-bs-toggle="modal"
            data-bs-target="#add">
        Add schedule
    </button>

    <div class="modal" id="add">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Modal Heading</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body modal-lg">

                    <form th:action="@{/admin/schedules/save}" method="post">
                        <div class="row">
                            <div class="col-sm-4">
                            <label>Course Name
                                    <select class="form-select" name="courseId">
                                        <option th:each="course : ${courses}"
                                                th:value="${course.courseId}"
                                                th:text="${course.courseName}">
                                        </option>
                                    </select>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label>Start Time
                                    <input name="startTime" type="datetime-local" class="form-control">
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label> End Time
                                    <input name="endTime" type="datetime-local" class="form-control">
                                </label>
                            </div>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-dark">Save</button>
                    </form>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    <div class="container mt-3">
        <form th:action="@{/admin/schedules/get}" method="post">
            <div class="input-group mb-3">
                <input name="userId" type="text" class="form-control" placeholder="User id">
                <input name="date" type="date" class="form-control" placeholder="dd/mm/yyyy">
                <select class="form-select" name="type">
                    <option value="day">Day</option>
                    <option value="month">Month</option>
                </select>
                <button type="submit" class="btn btn-dark">Get</button>
            </div>
        </form>
    </div>
    <table class="table" th:if="${schedules_admin != null}">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Course Name</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="schedule : ${schedules_admin}">
            <th th:text="${schedule.scheduleId}"/>
            <td th:text="${schedule.course.courseName}"/>
            <td th:text="${#dates.format(schedule.startTime, 'HH:mm dd-MM-yyyy')}"/>
            <td th:text="${#dates.format(schedule.endTime, 'HH:mm dd-MM-yyyy')}"/>
            <td>
                <button type="button" class="btn" data-bs-toggle="modal"
                        th:attr="data-bs-target='#modal' + ${schedule.scheduleId}">
                    Edit
                </button>

                <div class="modal" th:id="'modal' + ${schedule?.scheduleId}">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title">Modal Heading</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>

                            <!-- Modal body -->
                            <div class="modal-body modal-lg">

                                <form th:action="@{/admin/schedules/save}" method="post">
                                    <div class="row">
                                        <div class="col-sm-6">
                                        <label> ID
                                            <input name="scheduleId" type="number" class="form-control"
                                                   th:value="${schedule.scheduleId}"
                                                   th:readonly="${schedule.scheduleId != null} ? readonly : null">
                                        </label>
                                        </div>
                                        <div class="col-sm-6">
                                        <label>Course Name
                                            <select class="form-select" name="courseId">
                                                <option th:each="course : ${courses}"
                                                        th:value="${course.courseId}"
                                                        th:text="${course.courseName}"
                                                        th:selected="${course.courseId == schedule.course.courseId}">
                                                </option>
                                            </select>
                                        </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                        <label>Start Time
                                            <input name="startTime" type="datetime-local" class="form-control"
                                                   th:value="${schedule.startTime}">
                                        </label>
                                            </div>
                                        <div class="col-sm-6">
                                        <label> End Time
                                            <input name="endTime" type="datetime-local" class="form-control"
                                                   th:value="${schedule.endTime}">
                                        </label>
                                        </div>
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-dark">Save</button>
                                </form>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>

                        </div>
                    </div>
                </div>

            </td>
            <td>
                    <form th:action="@{/admin/schedules/delete}" method="post">
                        <button type="submit" class="btn btn-danger" name="deleteScheduleId"
                                th:value="${schedule.scheduleId}">
                            Delete
                        </button>
                    </form>
            </td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>