<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="/webjars/jquery/3.6.3/dist/jquery.min.js"></script>
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css" />
    <title>University Schedule Web App</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<h3 class="text-center">Schedules</h3>

<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Course Name</th>
        <th scope="col">Start Time</th>
        <th scope="col">End Time</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="schedule : ${schedules}">
        <th th:text="${schedule.scheduleId}"/>
        <td th:text="${schedule.course.courseName}"/>
        <td th:text="${#dates.format(schedule.startTime, 'HH:mm dd-MM-yyyy')}"/>
        <td th:text="${#dates.format(schedule.endTime, 'HH:mm dd-MM-yyyy')}"/>

    </tr>
    </tbody>
</table>
</body>


</html>