<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.min.js"></script>

    <title>University Schedule Web App</title>
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<h3 class="text-center">Schedules</h3>

<div class="container mt-3">
    <form th:action="@{/schedules/get}" method="get">
        <div class="input-group mb-3">
            <input th:if="${#authentication.getPrincipal().getUserRole().name().equals('ROLE_ADMIN') ||
             #authentication.getPrincipal().getUserRole().name().equals('ROLE_TEACHER')}"
                   name="userId" type="text" class="form-control" placeholder="User id">
            <input th:if="${#authentication.getPrincipal().getUserRole().name().equals('ROLE_STUDENT')}"
                   name="userId" type="hidden" class="form-control" placeholder="User id"
                   th:value="${#authentication.getPrincipal().getUserId()}">
            <input name="date" type="date" class="form-control" placeholder="dd/mm/yyyy">
            <select class="form-select" name="type">
                <option value="day">Day</option>
                <option value="month">Month</option>
            </select>
            <button type="submit" class="btn btn-dark">Get</button>
        </div>
    </form>
</div>

</body>


</html>