<!--<div id="row" th:fragment="row">-->
<!--    <div class="input-group m-3">-->
<!--        <div class="input-group m-3">-->
<!--            <select name="student" class="btn-light mr-0">-->
<!--                <option th:each="student: ${allStudents}"-->
<!--                        th:value="${student.userId}"-->
<!--                        th:selected="${course.students.contains(student)}"-->
<!--                        th:text="${student.firstName} + ' ' + ${student.lastName}">-->
<!--                </option>-->
<!--            </select>-->
<!--            <button class="btn btn-danger" id="DeleteRow" type="button">-->
<!--                <i class="bi bi-x"></i></button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->